<a href="https://colab.research.google.com/github/elijahkinghernandez/DATASCI112-Final-Project/blob/main/1_Data_Collection_and_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DATA COLLECTION AND CLEANING

In [1]:
import pandas as pd

In [3]:
# Read in csv file with member names
H117_members = pd.read_csv("/content/H117_members.csv")
H117_members

,congress,chamber,icpsr,state_icpsr,district_code,state_abbrev,party_code,occupancy,last_means,bioname,...,died,nominate_dim1,nominate_dim2,nominate_log_likelihood,nominate_geo_mean_probability,nominate_number_of_votes,nominate_number_of_errors,conditional,nokken_poole_dim1,nokken_poole_dim2
0,117,President,99912,99,0,USA,200,0.0,0.0,"TRUMP, Donald John",...,NaN,0.403,0.162,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,117,President,99913,99,0,USA,100,0.0,0.0,"BIDEN, Joseph Robinette, Jr.",...,NaN,-0.320,0.283,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,117,House,20301,41,3,AL,200,NaN,NaN,"ROGERS, Mike Dennis",...,NaN,0.361,0.462,-87.41877,0.89758,809.0,30.0,NaN,0.419,0.537
3,117,House,21102,41,7,AL,100,NaN,NaN,"SEWELL, Terri",...,NaN,-0.393,0.398,-22.56316,0.97305,826.0,9.0,NaN,-0.492,0.475
4,117,House,21193,41,5,AL,200,NaN,NaN,"BROOKS, Mo",...,NaN,0.652,-0.417,-168.03035,0.81410,817.0,80.0,NaN,0.697,-0.288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,117,House,21970,25,1,WI,200,NaN,NaN,"STEIL, Bryan",...,NaN,0.415,0.032,-78.33771,0.91086,839.0,30.0,NaN,0.424,0.176
453,117,House,21989,25,7,WI,200,NaN,NaN,"TIFFANY, Thomas P.",...,NaN,0.640,-0.201,-132.03336,0.84838,803.0,59.0,NaN,0.641,-0.190
454,117,House,22115,25,5,WI,200,NaN,NaN,"FITZGERALD, Scott",...,NaN,0.611,0.250,-102.03035,0.88433,830.0,47.0,NaN,0.617,0.272
455,117,House,29769,25,3,WI,100,NaN,NaN,"KIND, Ron",...,NaN,-0.260,-0.080,-65.96909,0.92421,837.0,20.0,NaN,-0.176,-0.105
456,117,House,21710,68,1,WY,200,NaN,NaN,"CHENEY, Liz",...,NaN,0.405,0.820,-188.67119,0.75832,682.0,70.0,NaN,0.282,0.815

In [4]:
# Create a datframe with only LA county representatives

desired = 23, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 37, 38, 39, 40, 43, 44, 47, 48
la_list = []

for i in desired:
  la = H117_members[H117_members['district_code'] == i][H117_members['state_abbrev'] == 'CA']
  la_list.append(la) 
la_reps = pd.concat(la_list)

# Filter for desired columns
la_reps = la_reps[['icpsr', 'bioname', 'district_code', 'party_code', 'born', 'nominate_dim1']]
la_reps = la_reps.rename(columns={'nominate_dim1': 'economic lib-con'})
la_reps

<ipython-input-4-0e60a1a3effd>:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  la = H117_members[H117_members['district_code'] == i][H117_members['state_abbrev'] == 'CA']

,icpsr,bioname,district_code,party_code,born,economic lib-con
33,20703,"MCCARTHY, Kevin",23,200,1965,0.457
64,21988,"GARCIA, Mike",25,200,1976,0.370
44,21308,"BROWNLEY, Julia",26,100,1952,-0.289
36,20955,"CHU, Judy",27,100,1953,-0.489
26,20104,"SCHIFF, Adam",28,100,1960,-0.350
45,21309,"CÁRDENAS, Tony",29,100,1963,-0.387
75,29707,"SHERMAN, Brad",30,100,1954,-0.343
78,29903,"NAPOLITANO, Grace Flores",32,100,1936,-0.448
53,21507,"LIEU, Ted",33,100,1969,-0.377
60,21754,"GOMEZ, Jimmy",34,100,1974,-0.573
54,21508,"TORRES, Norma Judith",35,100,1965,-0.366
38,21110,"BASS, Karen",37,100,1953,-0.584
29,20310,"SÁNCHEZ, Linda T.",38,100,1969,-0.508
66,22129,"KIM, Young",39,200,1962,0.277
72,29317,"ROYBAL-ALLARD, Lucille",40,100,1941,-0.469
70,29106,"WATERS, Maxine",43,100,1938,-0.656
55,21703,"BARRAGÁN, Nanette Diaz",44,100,1976,-0.516
48,21313,"LOWENTHAL, Alan",47,100,1941,-0.449
68,22152,"STEEL, Michelle",48,200,1955,0.360

In [5]:
# Read in csv file with rollcalls-- items being put up to a vote
H117_rollcalls = pd.read_csv("/content/H117_rollcalls.csv")
H117_rollcalls

,congress,chamber,rollnumber,date,session,clerk_rollnumber,yea_count,nay_count,nominate_mid_1,nominate_mid_2,nominate_spread_1,nominate_spread_2,nominate_log_likelihood,bill_number,vote_result,vote_desc,vote_question,dtl_desc
0,117,House,1,2021-01-03,1,2,216,211,-0.057,0.038,0.707,0.274,-4.110,NaN,Pelosi,NaN,Election of the Speaker,NaN
1,117,House,2,2021-01-03,1,3,371,2,0.000,0.000,0.000,0.000,0.000,HRES1,Passed,Authorizing and directing the Speaker to admin...,On Agreeing to the Resolution,NaN
2,117,House,3,2021-01-04,1,4,214,204,0.019,-0.125,0.711,-0.235,-0.236,HRES8,Passed,Adopting the Rules of the House of Representat...,On Motion to Table the Motion to Postpone to a...,NaN
3,117,House,4,2021-01-04,1,5,214,196,0.020,-0.133,0.710,-0.240,-0.235,HRES8,Passed,Adopting the Rules of the House of Representat...,Table Motion to Refer,NaN
4,117,House,5,2021-01-04,1,6,217,204,0.019,-0.124,0.711,-0.234,-0.236,HRES8,Passed,Adopting the Rules of the House of Representat...,On Ordering the Previous Question,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,117,House,992,2022-12-22,2,545,337,79,0.180,-0.984,0.458,-0.962,-70.813,S1402,Passed,Durbin Feeling Native American Languages Act o...,On Motion to Suspend the Rules and Pass,NaN
992,117,House,993,2022-12-22,2,546,380,35,0.290,-0.957,0.159,-0.516,-70.292,HR7939,Passed,Student Veteran Emergency Relief Act,On Motion to Suspend the Rules and Concur in t...,NaN
993,117,House,994,2022-12-23,2,547,215,206,0.028,0.007,0.716,-0.112,-0.237,HRES1531,Passed,Providing for consideration of the Senate amen...,On Agreeing to the Resolution,NaN
994,117,House,995,2022-12-23,2,548,193,227,0.177,-0.756,-0.369,0.040,-27.846,NaN,Failed,NaN,On Motion to Adjourn,NaN
995,117,House,996,2022-12-23,2,549,225,201,0.289,0.957,0.431,-0.286,-26.424,HR2617,Passed,"To amend section 1115 of title 31, United Stat...",On Motion to Concur in the Senate Adt to the H...,NaN

In [7]:
# Filter for desired columns
H117_rollcalls = H117_rollcalls[['rollnumber', 'vote_desc', 'vote_question', 'vote_result', 'date', 'yea_count', 'nay_count']]
H117_rollcalls

,rollnumber,vote_desc,vote_question,vote_result,date,yea_count,nay_count
0,1,NaN,Election of the Speaker,Pelosi,2021-01-03,216,211
1,2,Authorizing and directing the Speaker to admin...,On Agreeing to the Resolution,Passed,2021-01-03,371,2
2,3,Adopting the Rules of the House of Representat...,On Motion to Table the Motion to Postpone to a...,Passed,2021-01-04,214,204
3,4,Adopting the Rules of the House of Representat...,Table Motion to Refer,Passed,2021-01-04,214,196
4,5,Adopting the Rules of the House of Representat...,On Ordering the Previous Question,Passed,2021-01-04,217,204
...,...,...,...,...,...,...,...
991,992,Durbin Feeling Native American Languages Act o...,On Motion to Suspend the Rules and Pass,Passed,2022-12-22,337,79
992,993,Student Veteran Emergency Relief Act,On Motion to Suspend the Rules and Concur in t...,Passed,2022-12-22,380,35
993,994,Providing for consideration of the Senate amen...,On Agreeing to the Resolution,Passed,2022-12-23,215,206
994,995,NaN,On Motion to Adjourn,Failed,2022-12-23,193,227
995,996,"To amend section 1115 of title 31, United Stat...",On Motion to Concur in the Senate Adt to the H...,Passed,2022-12-23,225,201

In [8]:
# Read in csv file indicating how each congressperson voted on each rollcall
H117_votes = pd.read_csv("/content/H117_votes.csv")
H117_votes

        congress chamber  rollnumber    icpsr  cast_code   prob
0            117   House           1  14066.0          6  100.0
1            117   House           1  14854.0          6  100.0
2            117   House           1  14863.0          6   99.7
3            117   House           1  14873.0          1  100.0
4            117   House           1  15019.0          1   92.8
...          ...     ...         ...      ...        ...    ...
428966       117   House         996  31103.0          1  100.0
428967       117   House         996  39301.0          1  100.0
428968       117   House         996  39305.0          1  100.0
428969       117   House         996  39307.0          1  100.0
428970       117   House         996  91980.0          6   96.6

[428971 rows x 6 columns]

In [9]:
# Filter for desired columns
H117_votes = H117_votes[['rollnumber', 'icpsr', 'cast_code', 'prob']]
H117_votes

        rollnumber    icpsr  cast_code   prob
0                1  14066.0          6  100.0
1                1  14854.0          6  100.0
2                1  14863.0          6   99.7
3                1  14873.0          1  100.0
4                1  15019.0          1   92.8
...            ...      ...        ...    ...
428966         996  31103.0          1  100.0
428967         996  39301.0          1  100.0
428968         996  39305.0          1  100.0
428969         996  39307.0          1  100.0
428970         996  91980.0          6   96.6

[428971 rows x 4 columns]

In [10]:
# Read in csv file indicating la_reps demographics; had to make this myself
la_reps_demographics = pd.read_csv('/content/H117 - demographics - 1.csv')
la_reps_demographics

    icpsr                   bioname  gender       race immigrant
0   20703           MCCARTHY, Kevin    male      white        no
1   21988              GARCIA, Mike    male   hispanic        no
2   21308           BROWNLEY, Julia  female      white        no
3   20955                 CHU, Judy  female      asian        no
4   20104              SCHIFF, Adam    male      white        no
5   21309            CÁRDENAS, Tony    male  hispanic         no
6   29707             SHERMAN, Brad    male      white        no
7   29903  NAPOLITANO, Grace Flores  female   hispanic        no
8   21507                 LIEU, Ted    male      asian       yes
9   21754              GOMEZ, Jimmy    male   hispanic        no
10  21508      TORRES, Norma Judith  female   hispanic       yes
11  21110               BASS, Karen  female      black        no
12  20310         SÁNCHEZ, Linda T.  female   hispanic       yes
13  22129                KIM, Young  female      asian       yes
14  29317    ROYBAL-ALLARD, Lucille  female   hispanic        no
15  29106            WATERS, Maxine  female      black        no
16  21703    BARRAGÁN, Nanette Diaz  female   hispanic        no
17  21313           LOWENTHAL, Alan    male      white        no
18  22152           STEEL, Michelle  female      asian       yes

In [11]:
# Filter for desired columns-- preemptively removing duplicates for when I merge datasets
la_reps_demographics = la_reps_demographics[['icpsr', 'gender', 'race', 'immigrant']]
la_reps_demographics

    icpsr  gender       race immigrant
0   20703    male      white        no
1   21988    male   hispanic        no
2   21308  female      white        no
3   20955  female      asian        no
4   20104    male      white        no
5   21309    male  hispanic         no
6   29707    male      white        no
7   29903  female   hispanic        no
8   21507    male      asian       yes
9   21754    male   hispanic        no
10  21508  female   hispanic       yes
11  21110  female      black        no
12  20310  female   hispanic       yes
13  22129  female      asian       yes
14  29317  female   hispanic        no
15  29106  female      black        no
16  21703  female   hispanic        no
17  21313    male      white        no
18  22152  female      asian       yes

In [12]:
# Merge h117_votes with la_reps on each congressperson's unique id
votes_la_reps = H117_votes.merge(la_reps, on=["icpsr"], how="inner")
votes_la_reps

,rollnumber,icpsr,cast_code,prob,bioname,district_code,party_code,born,economic lib-con
0,1,20104.0,1,100.0,"SCHIFF, Adam",28,100,1960,-0.350
1,2,20104.0,9,NaN,"SCHIFF, Adam",28,100,1960,-0.350
2,3,20104.0,1,100.0,"SCHIFF, Adam",28,100,1960,-0.350
3,4,20104.0,1,100.0,"SCHIFF, Adam",28,100,1960,-0.350
4,5,20104.0,1,100.0,"SCHIFF, Adam",28,100,1960,-0.350
...,...,...,...,...,...,...,...,...,...
18887,992,29903.0,1,100.0,"NAPOLITANO, Grace Flores",32,100,1936,-0.448
18888,993,29903.0,1,99.8,"NAPOLITANO, Grace Flores",32,100,1936,-0.448
18889,994,29903.0,1,100.0,"NAPOLITANO, Grace Flores",32,100,1936,-0.448
18890,995,29903.0,6,100.0,"NAPOLITANO, Grace Flores",32,100,1936,-0.448
18891,996,29903.0,1,99.9,"NAPOLITANO, Grace Flores",32,100,1936,-0.448

In [13]:
# All three csv files now merged 
la_votesMembersDescriptions = votes_la_reps.merge(H117_rollcalls, on=["rollnumber"], how="inner")
la_votesMembersDescriptions

,rollnumber,icpsr,cast_code,prob,bioname,district_code,party_code,born,economic lib-con,vote_desc,vote_question,vote_result,date,yea_count,nay_count
0,1,20104.0,1,100.0,"SCHIFF, Adam",28,100,1960,-0.350,NaN,Election of the Speaker,Pelosi,2021-01-03,216,211
1,1,20310.0,1,100.0,"SÁNCHEZ, Linda T.",38,100,1969,-0.508,NaN,Election of the Speaker,Pelosi,2021-01-03,216,211
2,1,20703.0,6,100.0,"MCCARTHY, Kevin",23,200,1965,0.457,NaN,Election of the Speaker,Pelosi,2021-01-03,216,211
3,1,20955.0,1,100.0,"CHU, Judy",27,100,1953,-0.489,NaN,Election of the Speaker,Pelosi,2021-01-03,216,211
4,1,21110.0,1,100.0,"BASS, Karen",37,100,1953,-0.584,NaN,Election of the Speaker,Pelosi,2021-01-03,216,211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18887,996,22152.0,6,92.6,"STEEL, Michelle",48,200,1955,0.360,"To amend section 1115 of title 31, United Stat...",On Motion to Concur in the Senate Adt to the H...,Passed,2022-12-23,225,201
18888,996,29106.0,1,100.0,"WATERS, Maxine",43,100,1938,-0.656,"To amend section 1115 of title 31, United Stat...",On Motion to Concur in the Senate Adt to the H...,Passed,2022-12-23,225,201
18889,996,29317.0,1,99.9,"ROYBAL-ALLARD, Lucille",40,100,1941,-0.469,"To amend section 1115 of title 31, United Stat...",On Motion to Concur in the Senate Adt to the H...,Passed,2022-12-23,225,201
18890,996,29707.0,1,99.9,"SHERMAN, Brad",30,100,1954,-0.343,"To amend section 1115 of title 31, United Stat...",On Motion to Concur in the Senate Adt to the H...,Passed,2022-12-23,225,201
18891,996,29903.0,1,99.9,"NAPOLITANO, Grace Flores",32,100,1936,-0.448,"To amend section 1115 of title 31, United Stat...",On Motion to Concur in the Senate Adt to the H...,Passed,2022-12-23,225,201

In [14]:
# Make vote result a binary-- passed/failed --> 1/0
la_votesMembersDescriptions = la_votesMembersDescriptions[la_votesMembersDescriptions['vote_result'] != 'Pelosi']
la_votesMembersDescriptions = la_votesMembersDescriptions[la_votesMembersDescriptions['vote_result'] != 'Agreed to']
la_votesMembersDescriptions['vote_result'] = la_votesMembersDescriptions['vote_result'].replace('Passed', 1).replace('Failed', 0)
la_votesMembersDescriptions

,rollnumber,icpsr,cast_code,prob,bioname,district_code,party_code,born,economic lib-con,vote_desc,vote_question,vote_result,date,yea_count,nay_count
19,2,20104.0,9,NaN,"SCHIFF, Adam",28,100,1960,-0.350,Authorizing and directing the Speaker to admin...,On Agreeing to the Resolution,1,2021-01-03,371,2
20,2,20310.0,9,NaN,"SÁNCHEZ, Linda T.",38,100,1969,-0.508,Authorizing and directing the Speaker to admin...,On Agreeing to the Resolution,1,2021-01-03,371,2
21,2,20703.0,1,NaN,"MCCARTHY, Kevin",23,200,1965,0.457,Authorizing and directing the Speaker to admin...,On Agreeing to the Resolution,1,2021-01-03,371,2
22,2,20955.0,1,NaN,"CHU, Judy",27,100,1953,-0.489,Authorizing and directing the Speaker to admin...,On Agreeing to the Resolution,1,2021-01-03,371,2
23,2,21110.0,1,NaN,"BASS, Karen",37,100,1953,-0.584,Authorizing and directing the Speaker to admin...,On Agreeing to the Resolution,1,2021-01-03,371,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18887,996,22152.0,6,92.6,"STEEL, Michelle",48,200,1955,0.360,"To amend section 1115 of title 31, United Stat...",On Motion to Concur in the Senate Adt to the H...,1,2022-12-23,225,201
18888,996,29106.0,1,100.0,"WATERS, Maxine",43,100,1938,-0.656,"To amend section 1115 of title 31, United Stat...",On Motion to Concur in the Senate Adt to the H...,1,2022-12-23,225,201
18889,996,29317.0,1,99.9,"ROYBAL-ALLARD, Lucille",40,100,1941,-0.469,"To amend section 1115 of title 31, United Stat...",On Motion to Concur in the Senate Adt to the H...,1,2022-12-23,225,201
18890,996,29707.0,1,99.9,"SHERMAN, Brad",30,100,1954,-0.343,"To amend section 1115 of title 31, United Stat...",On Motion to Concur in the Senate Adt to the H...,1,2022-12-23,225,201
18891,996,29903.0,1,99.9,"NAPOLITANO, Grace Flores",32,100,1936,-0.448,"To amend section 1115 of title 31, United Stat...",On Motion to Concur in the Senate Adt to the H...,1,2022-12-23,225,201

In [15]:
# Final join-- merging additional targeted demographics with other merged datasets
df = la_votesMembersDescriptions.merge(la_reps_demographics, on=["icpsr"], how="outer")
df

,rollnumber,icpsr,cast_code,prob,bioname,district_code,party_code,born,economic lib-con,vote_desc,vote_question,vote_result,date,yea_count,nay_count,gender,race,immigrant
0,2,20104.0,9,NaN,"SCHIFF, Adam",28,100,1960,-0.350,Authorizing and directing the Speaker to admin...,On Agreeing to the Resolution,1,2021-01-03,371,2,male,white,no
1,3,20104.0,1,100.0,"SCHIFF, Adam",28,100,1960,-0.350,Adopting the Rules of the House of Representat...,On Motion to Table the Motion to Postpone to a...,1,2021-01-04,214,204,male,white,no
2,4,20104.0,1,100.0,"SCHIFF, Adam",28,100,1960,-0.350,Adopting the Rules of the House of Representat...,Table Motion to Refer,1,2021-01-04,214,196,male,white,no
3,5,20104.0,1,100.0,"SCHIFF, Adam",28,100,1960,-0.350,Adopting the Rules of the House of Representat...,On Ordering the Previous Question,1,2021-01-04,217,204,male,white,no
4,6,20104.0,6,100.0,"SCHIFF, Adam",28,100,1960,-0.350,Adopting the Rules of the House of Representat...,On Motion to Commit with Instructions,0,2021-01-04,203,217,male,white,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16512,992,29903.0,1,100.0,"NAPOLITANO, Grace Flores",32,100,1936,-0.448,Durbin Feeling Native American Languages Act o...,On Motion to Suspend the Rules and Pass,1,2022-12-22,337,79,female,hispanic,no
16513,993,29903.0,1,99.8,"NAPOLITANO, Grace Flores",32,100,1936,-0.448,Student Veteran Emergency Relief Act,On Motion to Suspend the Rules and Concur in t...,1,2022-12-22,380,35,female,hispanic,no
16514,994,29903.0,1,100.0,"NAPOLITANO, Grace Flores",32,100,1936,-0.448,Providing for consideration of the Senate amen...,On Agreeing to the Resolution,1,2022-12-23,215,206,female,hispanic,no
16515,995,29903.0,6,100.0,"NAPOLITANO, Grace Flores",32,100,1936,-0.448,NaN,On Motion to Adjourn,0,2022-12-23,193,227,female,hispanic,no
16516,996,29903.0,1,99.9,"NAPOLITANO, Grace Flores",32,100,1936,-0.448,"To amend section 1115 of title 31, United Stat...",On Motion to Concur in the Senate Adt to the H...,1,2022-12-23,225,201,female,hispanic,no

In [16]:
# Filter for only yea or nay votes and cast as 0/1
df = df[df['cast_code'] != 7]
df = df[df['cast_code'] != 9]
df['cast_code'] = df['cast_code'].replace(6, 'nay')
df['cast_code'] = df['cast_code'].replace(1, 'yea')
df['cast_code'].value_counts()

# Cast female/male as 0/1
df['gender'] = df['gender'].replace('female', 0)
df['gender'] = df['gender'].replace('male', 1)

# Cast immigrant/not immigrant as 1/0
df['immigrant'] = df['immigrant'].replace('no', 0)
df['immigrant'] = df['immigrant'].replace('yes', 1)

# Turn born column into age column when congressperson was elected 
df['born'] = 2020 - df['born']
df = df.rename(columns={'born': 'age elected'})

# Get rid of rows where the 'vote_desc' contains a nan value
df_ml = df[df['vote_desc'].notna()]

# Final dataframe to be used in machine learning model
df_ml

,rollnumber,icpsr,cast_code,prob,bioname,district_code,party_code,age elected,economic lib-con,vote_desc,vote_question,vote_result,date,yea_count,nay_count,gender,race,immigrant
1,3,20104.0,yea,100.0,"SCHIFF, Adam",28,100,60,-0.350,Adopting the Rules of the House of Representat...,On Motion to Table the Motion to Postpone to a...,1,2021-01-04,214,204,1,white,0
2,4,20104.0,yea,100.0,"SCHIFF, Adam",28,100,60,-0.350,Adopting the Rules of the House of Representat...,Table Motion to Refer,1,2021-01-04,214,196,1,white,0
3,5,20104.0,yea,100.0,"SCHIFF, Adam",28,100,60,-0.350,Adopting the Rules of the House of Representat...,On Ordering the Previous Question,1,2021-01-04,217,204,1,white,0
4,6,20104.0,nay,100.0,"SCHIFF, Adam",28,100,60,-0.350,Adopting the Rules of the House of Representat...,On Motion to Commit with Instructions,0,2021-01-04,203,217,1,white,0
5,7,20104.0,yea,100.0,"SCHIFF, Adam",28,100,60,-0.350,Adopting the Rules of the House of Representat...,On Agreeing to the Resolution,1,2021-01-04,217,206,1,white,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16511,991,29903.0,yea,100.0,"NAPOLITANO, Grace Flores",32,100,84,-0.448,Native American Langauge Resource Center Act o...,On Motion to Suspend the Rules and Pass,1,2022-12-22,342,71,0,hispanic,0
16512,992,29903.0,yea,100.0,"NAPOLITANO, Grace Flores",32,100,84,-0.448,Durbin Feeling Native American Languages Act o...,On Motion to Suspend the Rules and Pass,1,2022-12-22,337,79,0,hispanic,0
16513,993,29903.0,yea,99.8,"NAPOLITANO, Grace Flores",32,100,84,-0.448,Student Veteran Emergency Relief Act,On Motion to Suspend the Rules and Concur in t...,1,2022-12-22,380,35,0,hispanic,0
16514,994,29903.0,yea,100.0,"NAPOLITANO, Grace Flores",32,100,84,-0.448,Providing for consideration of the Senate amen...,On Agreeing to the Resolution,1,2022-12-23,215,206,0,hispanic,0
16516,996,29903.0,yea,99.9,"NAPOLITANO, Grace Flores",32,100,84,-0.448,"To amend section 1115 of title 31, United Stat...",On Motion to Concur in the Senate Adt to the H...,1,2022-12-23,225,201,0,hispanic,0